#version: "3.8"

x-airflow-common: &airflow-common
  image: apache/airflow:2.9.1-python3.10
  env_file:
    - .env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./data:/opt/airflow/data
    - ./src:/opt/airflow/src
  depends_on:
    - postgres

services:
  postgres:
    image: postgres:13
    env_file:
      - .env

  airflow-init:
    <<: *airflow-common
    command: >
      bash -c "
       airflow db migrate  &&
       airflow users create
       --username $${AIRFLOW_ADMIN_USERNAME}
       --password $${AIRFLOW_ADMIN_PASSWORD}
       --firstname $${AIRFLOW_ADMIN_FIRSTNAME}
       --lastname $${AIRFLOW_ADMIN_LASTNAME}
       --role $${AIRFLOW_ADMIN_ROLE}
       --email $${AIRFLOW_ADMIN_EMAIL}
      "

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
  

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
